body {
  background-color: #fff;
  font: {
    family: Helvetica, Arial, Verdana;
    size: 14px;
  }
}

a {
  color: #000;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  margin-top: 20px;
  img {
    max-width: 100%;
  }
}

#content {
  clear: both;
  padding-top: 20px;
}

#bulk {
  white-space: pre-line;
}
